<!DOCTYPE html>
<html lang="en">

<head>
  <title>上海华慧防火检测</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      // hm.src = "https://hm.baidu.com/hm.js?1524d5daa2b85811131f4f9ba8296bf7";//手机
      hm.src = "https://hm.baidu.com/hm.js?ae4029112122c93889cd7f8a8775a4fe";//网页
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>

<body>

</body>

</html>